body{
    margin: 0;
}
.rootStructure{
    font-family:cursive;
}
#header{
    background-color: coral;
    z-index: 1;
    position: fixed;
}
.navigationBar{
    float: right;
}
.intro{
    padding-top: 5em;
}
.secondSection{
    background:linear-gradient(white,#ffd137,white);
}