body{
    margin: 0;
}
.rootStructure{
    font-family:cursive;
}
#header{
    background-color: coral;
    z-index: 1;
    position: fixed;
}
.navigationBar{
    float: right;
}
.intro{
    padding-top: 5em;
}
.secondSection{
    background:linear-gradient(white,rgb(250, 221, 104),lightgray);
}
#experience{
    background: linear-gradient(lightgray,white,rgb(171, 238, 144));
}
#home{
    background: linear-gradient(lightgray,white);
}
.contactDetails{
    
}
#contact{
    background: linear-gradient(rgb(171, 238, 144),white,lightgray);
} 